@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.ttf");
}

*,
a {
  font-family: "Vazir";
}

@media (min-width: 767px) {
  .search {
    width: 40% !important;
  }
  .table-search form {
    width: 40% !important;
  }
}

.main {
  background-color: #fff;
  overflow: hidden;
}

.main .title {
  font-size: 1.3rem;
  color: #836866;
}

.main .title2 {
  font-size: 1rem;
  color: #836866;
}

.search {
  width: 90%;
}

.search input {
  background-color: #868686;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 0.8rem !important;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
}

.search input:focus, .search input:active, .search input:-webkit-autofill, .search input:-webkit-autofill:hover, .search input:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
  -webkit-text-fill-color: #3d3d3d !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.search input::-webkit-input-placeholder {
  font-size: 0.8rem !important;
  color: #bdbdbd;
}

.search input:-ms-input-placeholder {
  font-size: 0.8rem !important;
  color: #bdbdbd;
}

.search input::-ms-input-placeholder {
  font-size: 0.8rem !important;
  color: #bdbdbd;
}

.search input::placeholder {
  font-size: 0.8rem !important;
  color: #bdbdbd;
}

.search:hover .serch-icon {
  cursor: pointer;
  color: #bbbbbb;
}

.search-icon {
  left: 13px;
  top: 6px;
  color: #bdbdbd;
  z-index: 3;
  font-size: 0.9rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header {
  background-color: rgba(56, 56, 56, 0.7);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.header h1 a {
  color: #f5dd5d;
  font-size: 1.5rem;
  text-decoration: none;
}

.header h3 {
  color: #ffffcc;
  font-size: 0.8rem;
}

.header ul li img {
  width: 13px;
}

.header ul li a {
  color: #fff;
  font-size: 0.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header ul li a:hover {
  color: #ec7741;
  border-bottom: 1px solid #ec7741;
  text-decoration: none;
}

.sidebar .btntitle {
  color: #fff !important;
  font-size: 0.8rem;
  background-color: #ec7741;
  border-radius: 0;
}

.sidebar .btntitle:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: underline !important;
}

.sidebar table tr {
  border-bottom: 1px solid #eeeeee;
}

.sidebar table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

.sidebar table tr a {
  font-size: 0.8rem;
  color: #447e9b !important;
}

.sidebar table tr a:hover {
  color: #0f3244 !important;
  text-decoration: none;
}

.sidebar table tr img {
  width: 15px;
}

.activity {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.activity h2 {
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #6b7174;
}

.activity h3 {
  font-size: 0.9rem;
  color: #6b7174;
}

.activity img {
  width: 12px;
  height: 12px;
}

.activity a {
  color: #447e9b;
  font-size: 0.8rem;
}

.activity a:hover {
  color: #0f3244;
  text-decoration: none;
}

.activity span {
  color: #9c9a99;
  font-size: 0.7rem;
}

.statistics {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.statistics h2 {
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #6b7174;
  font-weight: bold;
}

.statistics h2 i {
  color: #ec7741;
}

.statistics h6 {
  font-size: 0.9rem;
  color: #6b7174;
  font-weight: bold;
}

.statistics h6 i {
  color: green;
}

.statistics span {
  color: #8a8989;
  font-size: 1rem;
  font-weight: bold;
}

.statistics .down h6,
.statistics .down span {
  font-size: 0.7rem !important;
}

.statistics .down i {
  color: rgba(0, 0, 0, 0.5);
}

.statistics img {
  width: 12px;
  height: 12px;
}

.statistics a {
  color: #447e9b;
  font-size: 0.8rem;
}

.statistics a:hover {
  color: #0f3244;
  text-decoration: none;
}

.table-search {
  background-color: rgba(0, 0, 0, 0.04);
}

.table-search form {
  width: 100%;
}

.table-search input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  padding-left: 40px;
  background-color: transparent;
  font-size: 0.8rem;
}

.table-search input:focus, .table-search input:active, .table-search input:-webkit-autofill, .table-search input:-webkit-autofill:hover, .table-search input:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
  -webkit-text-fill-color: #3d3d3d !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.table-search:hover .serch-icon {
  cursor: pointer;
  color: #bbbbbb;
}

.customtable thead {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 0.8rem;
}

.customtable tr td {
  vertical-align: middle !important;
  font-size: 0.8rem;
  color: #818181;
}

.customtable tr td a:hover {
  color: #12146e;
  text-decoration: none;
}

.customtable tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

.date a {
  color: rgba(95, 43, 43, 0.6);
  text-decoration: none;
  font-size: 0.7rem;
  border: 1px solid rgba(29, 18, 18, 0.2);
  padding: 3px 10px;
}

.date a:hover {
  color: rgba(95, 43, 43, 0.8);
  border: 1px solid rgba(29, 18, 18, 0.4);
}

.filter {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.filter i {
  font-size: 0.7rem !important;
}

.filter .title {
  background-color: #ec7741;
  color: #fff;
  text-align: right;
  font-size: 0.9rem;
  padding: 10px;
}

.filter ul {
  list-style-type: none;
  text-align: right;
  padding: 10px 15px;
}

.filter ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px;
}

.filter ul li:last-child {
  border-bottom: none;
}

.filter ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filter ul li a {
  font-size: 0.8rem;
  padding: 5px 0px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.form-title {
  color: #fff !important;
  font-size: 0.8rem;
  background-color: #ec7741;
  border-radius: 0;
}

.form-title:hover {
  color: #fff;
}

.customform {
  border-bottom: 1px solid #eeeeee;
}

.custom-field-title {
  font-size: 0.8rem;
  color: #474747;
}

.custom-field:focus, .custom-field:active, .custom-field:-webkit-autofill, .custom-field:-webkit-autofill:hover, .custom-field:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
  -webkit-text-fill-color: #3d3d3d !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.custom-field:focus:-ms-input-placeholder {
  color: transparent;
}

.custom-field:focus::-ms-input-placeholder {
  color: transparent;
}

.custom-field:focus::placeholder {
  color: transparent;
}

.custombutton {
  background-color: #868686;
  font-size: 0.8rem;
  color: #e7e7e7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 2px;
  padding: 5px 20px !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  transition: all 0.3s;
}

.custombutton i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #575757;
  line-height: 0px;
}

.custombutton:hover {
  color: #fff;
}

.custombutton:hover i {
  color: #ec7741;
}

.custombutton:hover .green {
  color: green !important;
}
/*# sourceMappingURL=style.css.map */